@import "variable";
@import "bourbon";
$prox: "proxima_nova", sans-serif;
$aleo: "aleo", serif;
.loader{
	width: 100%; height: 100%; background: #fff; position: absolute; top: 0; left: 0; z-index: 99;
}
.loader.go{z-index: -1;}
.animated{position: relative; }
.animated-row{ 
	margin-bottom: 60px; display: block;
	h4{font: bold 16px/18px $prox; color: $themeGreen;margin: 0 0 8px 0;}
	p{font: 13px/16px $prox; margin: 0 0 8px 0;   color: #595959;}
	&.one{
		.block.go{
			&:nth-child(1){
			img{@include animation(fadeInIcon 1.0s ease-in );@include animation-fill-mode(forwards);}
			.gray-arrow{  @include animation(fadeIn 1s ease-out .5s, slide 1.0s ease-out .5s); @include animation-fill-mode(forwards);
				span{@include animation(fadeInText 1.0s ease-out 1s);@include animation-fill-mode(forwards);}
			}
				.animated-text{@include animation(fadeInText 1.2s ease-out 1s);@include animation-fill-mode(forwards);}
			}
			
			
			&:nth-child(2){img{@include animation(fadeInIcon 1.0s ease-in ); @include animation-delay(2.0s); @include animation-fill-mode(forwards); }
			.gray-arrow{  @include animation(fadeIn 1s ease-out 2.5s, slide 1.0s ease-out 2.5s);  @include animation-fill-mode(forwards);
				span{@include animation(fadeInText 1.0s ease-out 3s); @include animation-fill-mode(forwards); }
			}
				.animated-text{@include animation(fadeInText 1.2s ease-out 3s); @include animation-fill-mode(forwards); }
			}
			
			
			&:nth-child(3){img{@include animation(fadeInIcon 1.0s ease-in ); @include animation-delay(4.0s); @include animation-fill-mode(forwards); }
			.gray-arrow{  @include animation(fadeIn 1s ease-out 4.5s, slide 1.0s ease-out 4.5s);  @include animation-fill-mode(forwards);
				span{@include animation(fadeInText 1.0s ease-out 5s);@include animation-fill-mode(forwards); }
			}
				.animated-text{@include animation(fadeInText 1.2s ease-out 5s); @include animation-fill-mode(forwards); }
			}
			
			&:nth-child(4){
			img{@include animation(fadeInIcon 1.0s ease-in ); @include animation-delay(6.0s); @include animation-fill-mode(forwards);}
			.gray-arrow{  @include animation(fadeIn 1s ease-out 6.5s, slide 1.0s ease-out 6.5s); @include animation-fill-mode(forwards);
				span{@include animation(fadeInText 1.0s ease-out 7s);@include animation-fill-mode(forwards);}
			}
				.animated-text{@include animation(fadeInText 1.2s ease-out 7s);@include animation-fill-mode(forwards);}
			}
			
			
			&:nth-child(5){img{@include animation(fadeInIcon 1.0s ease-in ); @include animation-delay(8.0s); @include animation-fill-mode(forwards); }
			.gray-arrow{  @include animation(fadeIn 1s ease-out 8.5s, slide 1.0s ease-out 8.5s);  @include animation-fill-mode(forwards);
				span{@include animation(fadeInText 1.0s ease-out 9s); @include animation-fill-mode(forwards); }
			}
				.animated-text{@include animation(fadeInText 1.2s ease-out 9s); @include animation-fill-mode(forwards); }
			}
			
			
			&:nth-child(6){img{@include animation(fadeInIcon 1.0s ease-in ); @include animation-delay(10.0s); @include animation-fill-mode(forwards); }
			.gray-arrow{  @include animation(fadeIn 1s ease-out 10.5s, slide 1.0s ease-out 10.5s);  @include animation-fill-mode(forwards);
				span{@include animation(fadeInText 1.0s ease-out 11s);@include animation-fill-mode(forwards); }
			}
				.animated-text{@include animation(fadeInText 1.2s ease-out 11s); @include animation-fill-mode(forwards); }
			}
			
	  }
	}
	&.two{
		.block.go{
			
	  }
	}
	.block{
		display: inline-block; width: 29%; margin: 0 1.5%;
		vertical-align: top; height: 330px;
		img{ z-index: 2; position: relative; opacity: 0; }
	
		.gray-arrow{
			  display: inline-block;
			  background: #E5E5E5;
			  height: 75px;
			  max-width: 170px;
			  width: 85%;
			  vertical-align: top;
			  position: relative;
			  left: -40px;
			  z-index: 1;
			  opacity: 0;
			
			  
				  span{
					  position: absolute;
					  left: 50px;
					  text-align: center;
					  top: 50%;
					  transform: translateY(-50%);
					  width: 100px;
					  font: bold 18px/20px $prox;
					  color: $themeGreen;
					  opacity: 0;
					  
				  }
				  
		
			 
			  
			  }
			 
			 
			  
			 
			 
			 
			 .gray-arrow:after{
			 	width: 0;
			  height: 0;
			  content: ' ';
			  border-top: 37px solid transparent;
			  border-bottom: 37px solid transparent;
			  border-left: 27px solid #E5E5E5;
			  position: absolute;
			  top: 0;
			  right: -27px;
			  z-index: -1;

			 }
		.animated-text{
			margin: 10px 0 0 1px;
			opacity: 0;
		} 
			 
		}
		
		
		
}

// Animation
		@include keyframes(fadeInIcon){
					0% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
		}
	   @include keyframes(fadeIn) {
					0% {
						opacity: 0;
					}
/*
					50% {
						opacity: 0;
					}
*/
					100% {
						opacity: 1;
					}
		}
		@include keyframes(fadeInText) {
					0% {
						opacity: 0;
					}
/*
					50% {
						opacity: 0;
					}
*/
					100% {
						opacity: 1;
					}
		}
				
				@include keyframes(slide) {
					0% {
						width: 0;
					}
/*
					50% {
						width: 0;
					}
*/
					100% {
						 width: 85%;
					}
				}
				
// Media Queires
@media screen and (max-width: 900px){
		.animated-row{ 
		.block{
			width: 45%;
		
		
		}
	}
}		
@media screen and (max-width: 590px) {
	.animated-row{ 
		.block{
			width: auto;
			max-width: 85%;
			margin: 0 auto 40px;
			display: block;
			height: auto;
		}
	}
}		
