@import "variable";
@import "bourbon";
$prox: "proxima_nova", sans-serif;
$aleo: "aleo", serif;

h1 {
  
  margin: 0 !important;
}

.page-template-template-cal-php {
		menu{padding: 0 !important; margin: 0 !important;}
		ul{padding: 0 !important; margin: 0 !important;}
		ol{padding: 0 !important; margin: 0 !important;}
}

.poweredBy, .ad-box{display: none !important;}
.pure-form-aligned .pure-control-group label{width: 47% !important;   text-align: left !important;  font-size: 13px; font-family: $prox;}
.pure-skin-cx .pure-form legend{text-transform: uppercase; border-bottom: none !important; font-family: $prox; font-size: 16px; font-weight: bold;}
.pure-control-group{border-bottom: 1px solid #e1e1e1; padding: 5px 0 15px; }
.pure-form-aligned select{float: right; padding: 10px !important;}
.pure-form input[type=color], .pure-form input[type=date], .pure-form input[type=datetime-local], .pure-form input[type=datetime], .pure-form input[type=email], .pure-form input[type=month], .pure-form input[type=number], .pure-form input[type=password], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=text], .pure-form input[type=time], .pure-form input[type=url], .pure-form input[type=week], .pure-form select, .pure-form textarea{border-radius: 0 !important; box-shadow: none !important;   width: 35%; padding: 4px 0;}
.pure-form input[type=text]{float: right; text-align: right;}
button.pure-button.pure-button-primary{border: 1px solid $themeGreen; font-family: $prox; font-size: 15px; float: right;
	text-transform: uppercase;
  border-radius: 4px;
}
.btnLine hr{display: none;}
.disclaimer{
	  clear: both;
	  margin: 20px 0 0 0;
	  display: inline-block;
}
span#inflationHelp {
  float: right;
  margin: 6px;
}
#main-nav > ul > li ul{  padding: 13px 14px 0 !important;  margin-left: -75px !important;}